
/* CONFIGS GERAIS E RESET */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --dark-one: rgb(29,29,29);
    --dark-two: rgb(44, 44, 44);
    --midtone: rgb(125,125,125);
    --light-one: white;
    --light-two: rgb(219, 255, 243);
    --main: rgb(34,81,83);
}


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 4rem;
    position: relative;
    z-index: 5;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--midtone);
}

.column-1 {
    margin-right: 1.5rem;
}

.column-2 {
    margin-left: 1.5rem;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
}

.shape {
    position: absolute;
    font-size: 60px;
    opacity: 0.20;
}

.section {
    padding: 7rem 0;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.title {
    font-size: 1.8rem;
    position: relative;
    display: inline-block;
    line-height: 1;
    padding-bottom: 1rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.8rem;
    color: var(--main);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--main);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header .text {
    max-width: 400px;
    margin: 0 auto;
}

.title-sm {
    color: var(--dark-one);
    font-weight: 800;
}

.btn {
    display: inline-block;
    background-color: var(--main);
    color: var(--light-two);
    padding: .85rem 2rem;
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--light-one);
    color: var(--dark-two);
}

.btn.small {
    font-size: 0.7rem;
    padding: 0.9rem 1.4rem;
}


/* FIM DAS CONFIGS GERAIS E RESET */




/* HEADER */

header {
    width: 100%;
    background-color: var(--dark-one);
    overflow: hidden;
    position: relative;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.logo {
    font-size: 2rem;
    color: var(--light-one);
    display: flex;
    align-items: center;
}

.logo p{
    font-size: 1.5rem;
    margin-left: 0.3rem;
}

.links ul {
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--light-one);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

.links a.active {
    background-color: var(--main);
    color: var(--light-two);
    border-radius: 2rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover {
    color: var(--light-two);
}

.links a.active:hover {
    color: var(--dark-one);
    background-color: var(--light-two);
}

.header-content .container.grid-2 {
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}


.header-content .image .image-element {
    max-width: 300px;
}

.header-title {
    font-size: 3.2rem;
    line-height: 1;
    color: var(--light-two);
}

.header-content .text {
    margin: 2.15rem 0;
}


header .dragon {
    top: 85%;
    left: 15%;
    --fa-rotate-angle: -45deg;
}

header .meteor {
    top: 71%;
    left: 85%;
}

header .meteor2 {
    top: 75%;
    left: 45%;
}

header .virus {
    top: 49%;
    left: 39%;
}

header .poo {
    top: 29%;
    left: 5%;
}

header .astronaut {
    top: 11%;
    left: 90%;
}

header .astronaut2 {
    top: 38%;
    left: 60%;
}

header .crossbones {
    top: 4%;
    left: 50%;
}


/* FIM DO HEADER */


/* SECTION SERVICES */

.cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.card-wrap {
    margin: 1.7rem 0.8rem;
}

.card {
    width: 100%;
    position: relative;
    background-color: var(--light-one);
    border: 1px solid var(--main);
    border-radius: 8px;
    max-width: 250px;
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
    transition: 0.3s ease;
}

.card-wrap:hover .card  {
    transform: translateY(-10px);
}

.card:before {
    content: attr(data-card);
    position: absolute;
    right: 25%;
    top: 5%;
    font-size: 4rem;
    font-weight: 800;
    color: var(--main);
    opacity: 0.10;
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: var(--main);
    transition: 0.2s ease;
}

.card-wrap:hover .card:after {
    height: 5px;
}

.icon {
    font-size: 80px;
    margin-bottom: 1.1rem;
    color: var(--main);
}

.card .title-sm {
    line-height: 1;
    margin-bottom: 1rem;
}

.card .text {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.card .btn:hover {
    background-color: var(--midtone);
    color: var(--dark-two);
}


/* FIM DA SECTION SERVICES */


/* SECTION PORTFOLIO */

.portfolio {
    width: 100%;
    position: relative;
    background-color: var(--light-one);
    min-height: 1000px;
}

.background-bg {
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0;
    top: 0;
    background-color: var(--main);
}

.portfolio .title, .portfolio .title:before {
    color: var(--light-one);
}

.portfolio .text {
    color: var(--light-two);
    font-weight: 300;
}

.portfolio .title:after {
    background-color: var(--dark-one);
}

.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.6rem 1rem;
    margin: 0 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--light-two);
    line-height: 1;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
}

.filter-btn.active {
    background-color: var(--light-one);
    color: var(--main);
}

.portfolio .shape {
    opacity: 0.10;
}

.portfolio .dragon {
    top: 71%;
    left: 85%;
    --fa-rotate-angle: -45deg;
}

.portfolio .meteor {
    top: 85%;
    left: 15%;
}

.portfolio .meteor2 {
    top: 75%;
    left: 45%;
}

.portfolio .poo {
    top: 29%;
    left: 5%;
}

.portfolio .virus {
    top: 15%;
    left: 34%;
}

.portfolio .astronaut {
    top: 11%;
    left: 90%;
}

.portfolio .astronaut2 {
    top: 4%;
    left: 50%;
}

.portfolio .crossbones {
    top: 38%;
    left: 60%;
}


.grid {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    width: 33.33%;
    min-width: 300px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    display: none;
}

.show {
    display: flex;
    animation: fade-in 1.3s ;
}

@keyframes fade-in {
    from { display: none; opacity: 0 }
    to   { display: flex ; opacity: 1 }
}

.gallery-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 16px;
    height: 250px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(173, 173, 173, 0.15);
}

.gallery-image img {
    position: absolute;
    height: 115%;
    width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 0.5s;
}

.gallery-image .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(6, 71, 34, 0.5);
    color: var(--light-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 1rem;
    opacity: 0;
    transition: 0.3s;
}

.img-overlay .img-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-overlay .plus {
    position: relative;
    margin: auto 0;
}

.plus:before, .plus:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 3rem;
    background-color: var(--light-two);
}

.plus:after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.gallery-image:hover .img-overlay {
    opacity: 1;
}

.gallery-image:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

/* FIM DA SECTION PORTFOLIO */